/* font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

:root{

    --primary-color: #ff6f91;
    --primary-color-active: #157a4117;
    --primary-color-btn-hover: #EF315F;
    --text-color: #333;
    --blur-color: #b7b7b7;
    /* --text-color: #333;
    --white-color: #fff;
    
    --secondary-color: #e8bd06;
    --black-color: #000;
    --blur-color: #b7b7b7;
    --hightLight-color: #e53637;
    --border-color: #dbdbdb;
    --cancel-color: #677484;
    --blue-color: #0070F4;
    --green-color: #00B63E;
    --lightGray-color: #E8EAED; */
}