/* General Layout */
body {
    font-family: Arial, sans-serif;
    background-color: #eef2f5; /* Softer background color */
    color: #333;
    margin: 0;
    padding: 20px; /* Add padding for better spacing */
}

/* Title Styling */
h3, h4 {
    color: #222;
    font-weight: bold;
    text-align: center; /* Center-align titles */
    margin-bottom: 1.5rem;
    padding: 10px; /* Add padding */
    border-bottom: 2px solid #ddd; /* Add bottom border */
}

/* Carousel */
.carousel-inner img {
    width: 100%;
    max-width: 50vw;
    height: 400px;
    object-fit: contain;
    border-radius: 12px; /* Softer border-radius */
    margin: 0 auto;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Add shadow effect */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
    background-color: #333;
}

/* Product Description */
.product-description {
    text-align: center;
}


.product-description h6 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

.product-description p {
    font-size: 1rem;
    line-height: 1.8; 
    text-align: justify;
    color: #000;
    margin-bottom: 1.25rem;
    padding: 10px; 
    border-radius: 8px; 
}

.product-description img {
    border-radius: 10px; /* Softer border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.carousel-control-prev i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: black;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
   
}

.carousel-control-next i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: black;
}