@{
    ViewData["Title"] = "Đơn hàng đã đặt";
}

<div class="container py-5 position-relative">
    <h2 class="mb-4 text-center">Lịch Sử Mua Hàng</h2>
    <!-- Bảng lịch sử mua hàng -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Ngày mua</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Tổng</th>
            </tr>
        </thead>
        <tbody>
            <!-- Đơn hàng 1 -->
            <tr>
                <td scope="row">1</td>
                <td><img src="https://images.samsung.com/is/image/samsung/p6pim/vn/sm-m556blgdxxv/gallery/vn-galaxy-m55-5g-sm-m556-sm-m556blgdxxv-thumb-541204554?$252_252_PNG$ " alt="Samsung Galaxy M35" class="w-25"></td>
                <td>Điện thoại Samsung Galaxy M35</td>
                <td>2024-12-01</td>
                <td>1</td>
                <td>7,999,000 VNĐ</td>
                <td><span class="badge bg-success">Đã giao</span></td>
                <td>7,999,000 VNĐ</td>
            </tr>
            <!-- Đơn hàng 2 -->
            <tr>
                <td scope="row">2</td>
                <td><img src="https://images.samsung.com/is/image/samsung/p6pim/vn/sm-m556blgdxxv/gallery/vn-galaxy-m55-5g-sm-m556-sm-m556blgdxxv-thumb-541204554?$252_252_PNG$ " alt="Samsung Galaxy M35" class="w-25"></td>
                <td>Điện thoại Samsung Galaxy M35</td>
                <td>2024-12-01</td>
                <td>1</td>
                <td>7,999,000 VNĐ</td>
                <td><span class="badge bg-success">Đã giao</span></td>
                <td>7,999,000 VNĐ</td>
            </tr>
            <!-- Đơn hàng 3 -->
            <tr>
                <td scope="row">3</td>
                <td><img src="https://images.samsung.com/is/image/samsung/p6pim/vn/sm-m556blgdxxv/gallery/vn-galaxy-m55-5g-sm-m556-sm-m556blgdxxv-thumb-541204554?$252_252_PNG$ " alt="Samsung Galaxy M35" class="w-25"></td>
                <td>Điện thoại Samsung Galaxy M35</td>
                <td>2024-12-01</td>
                <td>1</td>
                <td>7,999,000 VNĐ</td>
                <td><span class="badge bg-success">Đã giao</span></td>
                <td>7,999,000 VNĐ</td>
            </tr>
            <!-- Đơn hàng 3 -->
            <tr>
                <td scope="row">3</td>
                <td><img src="https://images.samsung.com/is/image/samsung/p6pim/vn/sm-m556blgdxxv/gallery/vn-galaxy-m55-5g-sm-m556-sm-m556blgdxxv-thumb-541204554?$252_252_PNG$ " alt="Samsung Galaxy M35" class="w-25"></td>
                <td>Điện thoại Samsung Galaxy M35</td>
                <td>2024-12-01</td>
                <td>1</td>
                <td>7,999,000 VNĐ</td>
                <td><span class="badge bg-success">Đã giao</span></td>
                <td>7,999,000 VNĐ</td>
            </tr>
            <!-- Đơn hàng 3 -->
            <tr>
                <td scope="row">3</td>
                <td><img src="https://images.samsung.com/is/image/samsung/p6pim/vn/sm-m556blgdxxv/gallery/vn-galaxy-m55-5g-sm-m556-sm-m556blgdxxv-thumb-541204554?$252_252_PNG$ " alt="Samsung Galaxy M35" class="w-25"></td>
                <td>Điện thoại Samsung Galaxy M35</td>
                <td>2024-12-01</td>
                <td>1</td>
                <td>7,999,000 VNĐ</td>
                <td><span class="badge bg-success">Đã giao</span></td>
                <td>7,999,000 VNĐ</td>
            </tr>
        </tbody>
    </table>
    <!-- Total Order -->
    <div class="total-order float-end" style="border: 1px solid black; padding: 10px;">
        <span><strong>Tổng giá trị hàng: 23,997,000 VNĐ</strong></span>
    </div>
</div>
