@{
    ViewData["Title"] = "Sản phẩm";
}
<form class="form-control">
    <div class="mb-3">
        <label for="product-to-price" class="form-label"><strong>SẢN PHẨM CẦN ĐỊNH GIÁ</strong></label>
        <select class="form-select device-type" id="product-to-price">
            <option value="" disabled selected>Chọn loại máy</option>
            <option value="1">Máy tính</option>
            <option value="2">Điện thoại</option>
            <option value="3">Tablet</option>
            <option value="4">Macbook</option>
            <option value="3">Đồng Hồ</option>
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select device-type">
            <option value="" disabled selected>Chọn dòng sản phẩm</option>
            <option value="1">Samsung</option>
            <option value="2">Nokia</option>
            <option value="3">Realme</option>
            <option value="4">Apple</option>
            <option value="3">Xiaomi</option>
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select device-type">
            <option value="" disabled selected>Chọn sản phẩm</option>
            <option value="1">Samsung Galaxy Note 20 Ultra 5G</option>
            <option value="2">Nokia 105 Dual</option>
            <option value="3">Realme 7i 128GB Ram 8GB</option>
            <option value="4">Apple Iphone 11 2 Sim 128GB</option>
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select device-type">
            <option value="" disabled selected>Chọn bộ nhớ</option>
            <option value="1">1TB</option>
            <option value="2">2TB</option>
            <option value="3">3TB</option>
            <option value="4">4TB</option>
            <option value="3">5TB</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="product-state" class="form-label"><strong>TÌNH TRẠNG MÁY</strong></label>
    </div>

    <div class="mb-3">
        <select class="form-select device-type">
            <option value="" disabled selected>Tình trạng màn hình</option>
            <option value="1">Đẹp không trầy xước</option>
            <option value="2">Màn trầy nhẹ 99%</option>
            <option value="3">Màn trầy nhẹ 98%</option>
            <option value="4">Màn trầy nhẹ 97%</option>
            <option value="3">Màn hình bể kính</option>
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select device-type">
            <option value="" disabled selected>Tình trạng mặt lưng</option>
            <option value="1">Mặt lưng không trầy</option>
            <option value="2">Mặt lưng kính trầy 99%</option>
            <option value="3">Mặt lưng kính trầy 98%</option>
            <option value="4">Mặt lưng kính bể</option>
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select device-type">
            <option value="" disabled selected>Tình trạng viền</option>
            <option value="1">Viền khung không trầy</option>
            <option value="2">Viền khung trầy nhẹ 98%</option>
            <option value="3">Viền khung trầy nặng 97%</option>
            <option value="4">Viền khung trầy nặng 97%, cấn móp</option>
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select device-type">
            <option value="" disabled selected>Tình trạng pin</option>
            <option value="1">Pin 90% tới 100%</option>
            <option value="2">Pin 85% tới 89%</option>
            <option value="3">Pin 80% tới 84%</option>
            <option value="4">Pin bảo trì</option>
        </select>
    </div>

    <div class="d-flex justify-content-end">
        <button class="btn btn-primary me-3" type="button">CHỈ BÁN MÁY</button>
        <button class="btn btn-secondary" type="button">MUA MÁY MỚI</button>
    </div>

</form>