body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #41424a;
}
.feedback .wrap {
  background-image: url(https://stcv4.hnammobile.com/v10/images/about-us-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem 2.5rem;
  border-radius: 18px;
}
.f-24 {
  font-size: 24px;
}
.mt-3 {
  margin-top: 1rem;
}
.container-home {
  max-width: 1150px;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}
.text-white {
  color: #fff !important;
}
.feedback p {
  color: #fff;
  max-width: 500px;
}
.feedback .content {
  max-width: 250px;
  position: relative;
  padding-top: 1rem;
}
.feedback .content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid red;
}
.d-block{
    display: block;
}
.f-18{
    font-size: 18px;
}
.text-theme{
    color: #f16225;
}
a{
    text-decoration: none;
    background-color: transparent;
}
u{
    text-decoration: underline;
}
